[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/yangfei198501
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/yangfei198501
	label-Verified = -1..+1 group user/yangfei198501
	push = group user/yangfei198501
	read = group user/yangfei198501
	rebase = group user/yangfei198501
	removeReviewer = group user/yangfei198501
	submit = group user/yangfei198501
[access "refs/heads/*"]
	create = group user/yangfei198501
	push = +force group user/yangfei198501
	pushMerge = group user/yangfei198501
	read = group user/yangfei198501
[access "refs/tags/*"]
	push = group user/yangfei198501
	push = +force group user/yangfei198501
